<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
        <h1>Profil de {{ patient.prenom }} {{ patient.nom }}</h1>      
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information: </strong> Vous avez fait des modifications. Toutes modifications qui ne seront pas sauvegardées seront perdues!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{ patient.photoUrl }}" alt="{{ patient.nom }}">
        <div class="card-body">
          <div>
            <strong>Données personnelles:</strong>
            <ul>
              <li>Nom: {{ patient.nom}}</li>
              <li>Prénom: {{ patient.prenom }}</li>  
              <li>Date de naissance: {{ patient.dateNaissance }}</li>
              <li>Email: {{ patient.email}}</li>
              <li>Téléphone fixe: {{ patient.telFixe }}</li>
              <li>Gsm: {{ patient.gsm }}</li>
            </ul>
          </div>
          <div>
            <strong>Latéralité:</strong>
            <p>{{ patient.lateralite.nom }}</p>
          </div>
          <div>
            <strong>Personne de contact:</strong>
            <ul>
              <li>Nom: {{ patient.personneContact }}</li>
              <li>Téléphone: {{ patient.telContact }}</li>
            </ul> 
          </div> 
          <div>
            <strong>Adresse:</strong>
            <ul>
              <li>Rue: {{ patient.adresse.rue}}, {{ patient.adresse.numeroRue}}</li>
              <li>Boite postal: {{ patient.adresse.boitePostal}}</li>  
              <li>Ville: {{ patient.adresse.codePostal }}, {{ patient.adresse.ville }}</li>
              <li>Pays: {{ patient.adresse.pays}}</li>
            </ul>
          </div>
      </div>
      <div class="card-footer">
        <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Sauvegarder</button>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="tab-panel">
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updatePatient()">
      <tabset class="patient-tabset">
        <tab heading="Personnelles">
              <h5><label for="nom">Nom: </label></h5>
              <input type="text" class="form-control" name="nom" [(ngModel)]="patient.nom">
              <h5><label for="prenom">Prénom: </label></h5>
              <input type="text" class="form-control" name="prenom" [(ngModel)]="patient.prenom"> 
              <h5><label for="dateNaissance">Date de naissance: </label></h5>
              <input type="text" class="form-control" name="dateNaissance" [(ngModel)]="patient.dateNaissance">  
              <h5><label for="email">Email: </label></h5>
              <input type="text" class="form-control" name="email" [(ngModel)]="patient.email">
              <h5><label for="telFixe">Téléphone fixe: </label></h5>
              <input type="text" class="form-control" name="telFixe" [(ngModel)]="patient.telFixe">
              <h5><label for="gsm">Gsm: </label></h5>
              <input type="text" class="form-control" name="gsm" [(ngModel)]="patient.gsm">
      </tab>
      <tab heading="Latéralité">
              <h5><label for="lateralite">Latéralité: </label></h5>
              <input type="text" class="form-control" name="lateralite" [(ngModel)]="patient.lateralite.nom">
      </tab>
      <tab heading="Contact">
              <h5><label for="personneContact">Nom: </label></h5>
              <input type="text" class="form-control" name="personneContact" [(ngModel)]="patient.personneContact">
              <h5><label for="prenom">Prénom: </label></h5>
              <input type="text" class="form-control" name="prenom" [(ngModel)]="patient.prenom">
      </tab>
      <tab heading="Adresse">
              <h5><label for="rue">Rue: </label></h5>
              <input type="text" class="form-control" name="rue" [(ngModel)]="patient.adresse.rue">
              <h5><label for="numeroRue">Numéro de maison: </label></h5>
              <input type="text" class="form-control" name="numeroRue" [(ngModel)]="patient.adresse.numeroRue">              
              <h5><label for="boitePostal">Boîte postal: </label></h5>
              <input type="text" class="form-control" name="boitePsotal" [(ngModel)]="patient.adresse.boitePostal"> 
              <h5><label for="ville">Ville: </label></h5>
              <input type="text" class="form-control" name="ville" [(ngModel)]="patient.adresse.ville">  
              <h5><label for="pays">Pays: </label></h5>
              <input type="text" class="form-control" name="pays" [(ngModel)]="patient.adresse.pays">
      </tab>
      <tab heading="Anamnése">
            <h5><label for="anamnese">Anamnèse: </label></h5>
            <textarea name="anamnese" rows="10" class="form-control" [(ngModel)]="patient.anamnese"></textarea>
      </tab>
      <tab heading="Commentaire">
            <h5><label for="commentaire">Commentaire: </label></h5>
            <textarea name="commentaire" rows="10" class="form-control" [(ngModel)]="patient.commentaire"></textarea>                                                                                                                                                               
      </tab>             
      <tab heading="Changer de photo">
        <p>changement de photo</p>
      </tab>
      </tabset>
    </form>
    </div>
  </div>
</div>


